VITE_FIREBASE_API_KEY=AIzaSyDfP2SI7GEh6J3VcwZ403x42hni8IbEg9Q
VITE_FIREBASE_AUTH_DOMAIN=study-app-ecf0f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=study-app-ecf0f
VITE_FIREBASE_STORAGE_BUCKET=study-app-ecf0f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=111393555798"
VITE_FIREBASE_APP_ID=1:111393555798:web:ced3e15fd456807c4142f7
VITE_GEMINI_API_KEY=AIzaSyC2cRkf7XIE1jsGtjqyf4F7vBRy2pA1TRw
